.git
.github
.gitignore
.gcloudignore
.cursor
.node_modules
node_modules
.next
.data
.env
.env.*
!.env.example
coverage
test-results
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
*.pem
.DS_Store
docs/reports/*.json
